body{
  background: url(./images/background\ 1.png);
  width: 1366px;
  height: 768px;
  background-size: 100%;
  color:rgba(255, 255, 255, 1);
  font-family: Roboto;
}
.image-container {
  position: absolute;
width: 53px;
height: 47px;
left: 161px;
top: 51px;
}

.image-container:hover img {
  content: url(./images/logo\ 2.png);
}

a.link-logo:hover{
  color:rgba(242, 101, 34, 1); 
}
.logo-text{
  text-decoration: none;
  font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 29px;
position: absolute;
left: 222px;
top: 51px;
}
.logo-text2{
  text-decoration: none;
  font-weight: 700;
font-size: 18px;
line-height: 18px;
left: 222px;
top: 81px;
position: absolute;
}
a{
  text-decoration: none;
  color:rgba(255, 255, 255, 1) ;
}
a.email:hover{
  color: rgba(242, 101, 34, 1);
}
a.tel:hover{
 color: rgba(242, 101, 34, 1);
 ;
}
.contacts{
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
right: 177px;
top: 46px;
position: absolute;
}
.contacts2{
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
position: absolute;
top: 86px;
right: 177px;
}
.main_container{
  left: 163px;
  right: 176px;
  top: 124px;
  position: absolute;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2,220px);
  grid-gap: 78px 62px;
  justify-content: space-between;
  display: grid;
  grid-template-areas:  
  "a b c"
  "e f g"; 
  
}
.photo{
  display: inline-block;
  position: relative;
}
.tab {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(242, 101, 34, 1);
  color: rgba(255, 255, 255, 1);
  padding: 5px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 295px;
height: 55px;
}
.photo:hover .tab {
  opacity: 1;
}
.from{
  font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
position: absolute;
left: 16px;
top: 7px;
}
.price{
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
position: absolute;
left: 16px;
top: 29px;
}
.details{
  position: absolute;
  font-weight: 400;
font-size: 14px;
line-height: 14px;
right: 37px;
top: 29px;
}
.vector{
  position: absolute;
  right: 14px;
  top: 31px;
}
.item-1{
  grid-area: a;
}
.item-2{
  grid-area: b;
}
.item-3{
  grid-area: c;
}
.item-4{
  grid-area: e;
}
.item-5{
  grid-area: f;
}
.item-6{
  grid-area: g;
}
.item{
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
a.item:hover{
  color: rgba(242, 101, 34, 1);
  ;
}
.footer{
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
text-align: center;
bottom: 15px;
position: absolute;
left: 530px;
right: 530px;
}